**/.idea/
*.pyo
*.pyc
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
/dist/
/*.egg-info
/build/
__pycache__
.DS_Store
/object_reconstruction/data
.ipynb_checkpoints
.submit_file.sh
/object_reconstruction/jobs
